<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TngLeagueMVC</title>

    <link href="~/lib/materialize/css/materialize.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="~/css/common.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />

    <script src="~/js/vue.global.js"></script>
    <script src="~/lib/materialize/js/materialize.min.js"></script>
    <script>window.baseApiUrl = '@Url.Content("~/")';</script>
    <script src="~/js/api.js"></script>
</head>

<body>
    @await Html.PartialAsync("_Header")
    <main class="site-content">
        <div class="pb-3 container">
            @RenderBody()
        </div>
    </main>
    @await Html.PartialAsync("_Footer")

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            M.AutoInit();
        });
    </script>
</body>

</html>
