<style>
    .label-round {
        position: absolute;
    }
</style>
<div class="row pt-3">
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#test1">Vòng bảng</a></li>
                <li class="tab col s3"><a href="#test2">Vòng loại</a></li>
            </ul>
        </div>
        <div id="test1" class="col s12">
            <div>
                <div class="row">
                    <div class="col s6 l3">
                        <div class="input-field">
                            <select>
                                <option value="1">Tất cả</option>
                                <option value="1">Vòng 1</option>
                                <option value="2">Vòng 2</option>
                                <option value="3">Vòng 3</option>
                            </select>
                            <label>Chọn vòng đấu</label>
                        </div>
                    </div>
                    <div class="col s6 l3">
                        <div class="input-field">
                            <select>
                                <option value="1">Tất cả</option>
                                <option value="2">Phú Bình</option>
                                <option value="3">Sông Công</option>
                            </select>
                            <label>Chọn đội đấu</label>
                        </div>
                    </div>

                </div>



                <div class="row">
                    <div class="col s12 l6">
                        <table class="highlight striped mt-3">
                            <thead>
                                <tr class="table-header white-text">
                                    <th class="center-align">VÒNG 1</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <label class="label-round">Vòng 1</label>
                                        <div class="row valign-wrapper">
                                            <div class="col s5">
                                                <div class="d-flex justify-content-end align-items-center">
                                                    <p class="mobile-text">FC Minh Sơn</p>
                                                    <img class="avatar mobile-avatar" src="../images/MU.png" />
                                                </div>
                                            </div>
                                            <div class="col s2 center-align border mobile-ti-so">
                                                <h5>VS</h5>
                                                <p class="mobile-text">15:30 24/05</p>
                                            </div>
                                            <div class="col s5 left-align">
                                                <div class="d-flex justify-content-start align-items-center">
                                                    <img class="avatar mobile-avatar" src="../images/MU.png" />
                                                    <p class="mobile-text">FC Minh Sơn</p>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="label-round">Vòng 1</label>
                                        <div class="row valign-wrapper">
                                            <div class="col s5">
                                                <div class="d-flex justify-content-end align-items-center">
                                                    <p class="mobile-text">FC Minh Sơn</p>
                                                    <img class="avatar mobile-avatar" src="../images/MU.png" />
                                                </div>
                                            </div>
                                            <div class="col s2 center-align border mobile-ti-so">
                                                <h5>VS</h5>
                                                <p class="mobile-text">15:30 24/05</p>
                                            </div>
                                            <div class="col s5 left-align">
                                                <div class="d-flex justify-content-start align-items-center">
                                                    <img class="avatar mobile-avatar" src="../images/MU.png" />
                                                    <p class="mobile-text">FC Minh Sơn</p>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="label-round">Vòng 1</label>
                                        <div class="row valign-wrapper">
                                            <div class="col s5">
                                                <div class="d-flex justify-content-end align-items-center">
                                                    <p class="mobile-text">FC Minh Sơn</p>
                                                    <img class="avatar mobile-avatar" src="../images/MU.png" />
                                                </div>
                                            </div>
                                            <div class="col s2 center-align border mobile-ti-so">
                                                <h5>VS</h5>
                                                <p class="mobile-text">15:30 24/05</p>
                                            </div>
                                            <div class="col s5 left-align">
                                                <div class="d-flex justify-content-start align-items-center">
                                                    <img class="avatar mobile-avatar" src="../images/MU.png" />
                                                    <p class="mobile-text">FC Minh Sơn</p>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col s12 l6">
                        <table class="highlight striped mt-3">
                            <thead>
                                <tr class="table-header white-text">
                                    <th class="center-align">VÒNG 2</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <label class="label-round">Vòng 2</label>
                                        <div class="row valign-wrapper">
                                            <div class="col s5">
                                                <div class="d-flex justify-content-end align-items-center">
                                                    <p class="mobile-text">FC Minh Sơn</p>
                                                    <img class="avatar mobile-avatar" src="../images/MU.png" />
                                                </div>
                                            </div>
                                            <div class="col s2 center-align border mobile-ti-so">
                                                <h5>VS</h5>
                                                <p class="mobile-text">15:30 24/05</p>
                                            </div>
                                            <div class="col s5 left-align">
                                                <div class="d-flex justify-content-start align-items-center">
                                                    <img class="avatar mobile-avatar" src="../images/MU.png" />
                                                    <p class="mobile-text">FC Minh Sơn</p>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="label-round">Vòng 2</label>
                                        <div class="row valign-wrapper">
                                            <div class="col s5">
                                                <div class="d-flex justify-content-end align-items-center">
                                                    <p class="mobile-text">FC Minh Sơn</p>
                                                    <img class="avatar mobile-avatar" src="../images/MU.png" />
                                                </div>
                                            </div>
                                            <div class="col s2 center-align border mobile-ti-so">
                                                <h5>VS</h5>
                                                <p class="mobile-text">15:30 24/05</p>
                                            </div>
                                            <div class="col s5 left-align">
                                                <div class="d-flex justify-content-start align-items-center">
                                                    <img class="avatar mobile-avatar" src="../images/MU.png" />
                                                    <p class="mobile-text">FC Minh Sơn</p>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="label-round">Vòng 2</label>
                                        <div class="row valign-wrapper">
                                            <div class="col s5">
                                                <div class="d-flex justify-content-end align-items-center">
                                                    <p class="mobile-text">FC Minh Sơn</p>
                                                    <img class="avatar mobile-avatar" src="../images/MU.png" />
                                                </div>
                                            </div>
                                            <div class="col s2 center-align border mobile-ti-so">
                                                <h5>VS</h5>
                                                <p class="mobile-text">15:30 24/05</p>
                                            </div>
                                            <div class="col s5 left-align">
                                                <div class="d-flex justify-content-start align-items-center">
                                                    <img class="avatar mobile-avatar" src="../images/MU.png" />
                                                    <p class="mobile-text">FC Minh Sơn</p>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 l6">
                        <table class="highlight striped mt-3">
                            <thead>
                                <tr class="table-header white-text">
                                    <th class="center-align">VÒNG 3</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <label class="label-round">Vòng 3</label>
                                        <div class="row valign-wrapper">
                                            <div class="col s5">
                                                <div class="d-flex justify-content-end align-items-center">
                                                    <p class="mobile-text">FC Minh Sơn</p>
                                                    <img class="avatar mobile-avatar" src="../images/MU.png" />
                                                </div>
                                            </div>
                                            <div class="col s2 center-align border mobile-ti-so">
                                                <h5>VS</h5>
                                                <p class="mobile-text">15:30 24/05</p>
                                            </div>
                                            <div class="col s5 left-align">
                                                <div class="d-flex justify-content-start align-items-center">
                                                    <img class="avatar mobile-avatar" src="../images/MU.png" />
                                                    <p class="mobile-text">FC Minh Sơn</p>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="label-round">Vòng 3</label>
                                        <div class="row valign-wrapper">
                                            <div class="col s5">
                                                <div class="d-flex justify-content-end align-items-center">
                                                    <p class="mobile-text">FC Minh Sơn</p>
                                                    <img class="avatar mobile-avatar" src="../images/MU.png" />
                                                </div>
                                            </div>
                                            <div class="col s2 center-align border mobile-ti-so">
                                                <h5>VS</h5>
                                                <p class="mobile-text">15:30 24/05</p>
                                            </div>
                                            <div class="col s5 left-align">
                                                <div class="d-flex justify-content-start align-items-center">
                                                    <img class="avatar mobile-avatar" src="../images/MU.png" />
                                                    <p class="mobile-text">FC Minh Sơn</p>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="label-round">Vòng 3</label>
                                        <div class="row valign-wrapper">
                                            <div class="col s5">
                                                <div class="d-flex justify-content-end align-items-center">
                                                    <p class="mobile-text">FC Minh Sơn</p>
                                                    <img class="avatar mobile-avatar" src="../images/MU.png" />
                                                </div>
                                            </div>
                                            <div class="col s2 center-align border mobile-ti-so">
                                                <h5>VS</h5>
                                                <p class="mobile-text">15:30 24/05</p>
                                            </div>
                                            <div class="col s5 left-align">
                                                <div class="d-flex justify-content-start align-items-center">
                                                    <img class="avatar mobile-avatar" src="../images/MU.png" />
                                                    <p class="mobile-text">FC Minh Sơn</p>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col s12 l6">
                        <table class="highlight striped mt-3">
                            <thead>
                                <tr class="table-header white-text">
                                    <th class="center-align">VÒNG 4</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <label class="label-round">Vòng 4</label>
                                        <div class="row valign-wrapper">
                                            <div class="col s5">
                                                <div class="d-flex justify-content-end align-items-center">
                                                    <p class="mobile-text">FC Minh Sơn</p>
                                                    <img class="avatar mobile-avatar" src="../images/MU.png" />
                                                </div>
                                            </div>
                                            <div class="col s2 center-align border mobile-ti-so">
                                                <h5>VS</h5>
                                                <p class="mobile-text">15:30 24/05</p>
                                            </div>
                                            <div class="col s5 left-align">
                                                <div class="d-flex justify-content-start align-items-center">
                                                    <img class="avatar mobile-avatar" src="../images/MU.png" />
                                                    <p class="mobile-text">FC Minh Sơn</p>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="label-round">Vòng 4</label>
                                        <div class="row valign-wrapper">
                                            <div class="col s5">
                                                <div class="d-flex justify-content-end align-items-center">
                                                    <p class="mobile-text">FC Minh Sơn</p>
                                                    <img class="avatar mobile-avatar" src="../images/MU.png" />
                                                </div>
                                            </div>
                                            <div class="col s2 center-align border mobile-ti-so">
                                                <h5>VS</h5>
                                                <p class="mobile-text">15:30 24/05</p>
                                            </div>
                                            <div class="col s5 left-align">
                                                <div class="d-flex justify-content-start align-items-center">
                                                    <img class="avatar mobile-avatar" src="../images/MU.png" />
                                                    <p class="mobile-text">FC Minh Sơn</p>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="label-round">Vòng 4</label>
                                        <div class="row valign-wrapper">
                                            <div class="col s5">
                                                <div class="d-flex justify-content-end align-items-center">
                                                    <p class="mobile-text">FC Minh Sơn</p>
                                                    <img class="avatar mobile-avatar" src="../images/MU.png" />
                                                </div>
                                            </div>
                                            <div class="col s2 center-align border mobile-ti-so">
                                                <h5>VS</h5>
                                                <p class="mobile-text">15:30 24/05</p>
                                            </div>
                                            <div class="col s5 left-align">
                                                <div class="d-flex justify-content-start align-items-center">
                                                    <img class="avatar mobile-avatar" src="../images/MU.png" />
                                                    <p class="mobile-text">FC Minh Sơn</p>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div id="test2" class="col s12">Test 2</div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var el = document.querySelectorAll('.tabs');
        var instanceTab = M.Tabs.init(el, {});
        var selects = document.querySelectorAll('select');
        var instancesSelects = M.FormSelect.init(selects, {});
    });
</script>