<style>
    .foodter-background {
        background-color: var(--bacground-color);
    }

    .page-footer {
        padding-top: 20px;
        color: white;
    }

    .page-footer h5 {
        margin-bottom: 10px;
    }

    .page-footer ul {
        list-style-type: none;
        padding: 0;
    }

    .page-footer p {
        margin: 0 0 8px;
    }

    .grey-text.text-lighten-3 {
        color: #bdbdbd !important;
    }

    .grey-text.text-lighten-4 {
        color: #eeeeee !important;
    }

    .white-text {
        color: #ffffff !important;
    }

    .footer-copyright {
        background-color: rgba(0, 0, 0, 0.1);
        padding: 10px 0;
        font-size: 14px;
    }

    .footer-copyright .right i {
        margin-left: 10px;
        vertical-align: middle;
    }
</style>
<footer class="page-footer foodter-background mt-3">
    <div class="container">
        <div class="row">
            <!-- Cột 1 -->
            <div class="col l6 s12">
                <h5 class="white-text">TNG Football League</h5>
                <p class="grey-text text-lighten-4">
                    Giải đấu nội bộ TNG Group - nơi giao lưu, rèn luyện thể chất và gắn kết tinh thần đồng đội.
                </p>
            </div>

            <!-- Cột 2 -->
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Liên hệ</h5>
                <ul>
                    <li>
                        <p class="grey-text text-lighten-3">Số điện thoại: 023232323</p>
                    </li>
                    <li>
                        <p class="grey-text text-lighten-3">Email: nam@gmail.com</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Phần dưới cùng -->
    <div class="footer-copyright">
        <div class="container">
            © 2025 TNG Group. All rights reserved.
            <a class="grey-text text-lighten-4 right" href="#!">
                <i class="material-icons tiny">facebook</i>
                <i class="material-icons tiny">email</i>
                <i class="material-icons tiny">public</i>
            </a>
        </div>
    </div>
</footer>