<style>
    .team-header {
        border-radius: 10px;
        padding: 0px 20px;
        margin-top: 20px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        padding-top: 40px;
        padding-bottom: 12px;
    }

    .team-logo {
        height: 120px;
        border-radius: 50%;
        object-fit: cover;
        border: 3px solid #ddd;
    }

    .player-card {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    }

    .player-card:hover {
        transform: translateY(-5px);
    }

    .player-logo {
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        border: 3px solid #ddd;
    }

    .blue-header {
        background-color: #1565c0;
        color: white;
        padding: 6px;
        text-align: center;
    }

    .player-badge {
        min-width: 3rem;
        padding: 0 6px;
        text-align: center;
        font-size: .75rem;
        line-height: 22px;
        height: 22px;
        color: white;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        min-width: 3.2rem;
        border-radius: 15px;
        padding: 0.2rem 0.4rem;
    }

    .card .card-content {
        padding: 12px;
    }

    .card .card-action {
        padding: 6px;
    }
</style>
<!-- Thông tin trận đấu -->
<div id="doi_chiTietDoi">
    <div class="row pt-3">
        <div class=" row">
            <div class="col s12 l12">
                <div class="col s12 blue-header">
                    <h5><strong>FC Thái Nguyên</strong></h5>
                </div>
                <div class="row team-header">
                    <div class="col s5 l3 center-align">
                        <img onerror="this.onerror=null; this.src='/images/no-image.jpeg';"
                            onerror="this.onerror=null; this.src='/images/no-image.jpeg';"
                            src="https://upload.wikimedia.org/wikipedia/en/7/7a/Manchester_United_FC_crest.svg"
                            class="team-logo">
                    </div>
                    <div class="col s7 l9">
                        <div class="row">
                            <div class="col s12 l6">
                                <p>👥 Số thành viên: 3</p>
                                <p>🏟️ Số trận đã chơi: 3</p>
                                <p>⚽ Số trận thắng: 3</p>
                                <p>🥅 Số trận thua: 2</p>
                            </div>
                            <div class="col s12 l6">
                                <p>🟥/🟨 Số thẻ: 2/3</p>
                                <p><i class="material-icons tiny">event</i> Ngày thành lập: 22/01/2025</p>
                                <p><i class="material-icons tiny">person</i> Lãnh đạo đoàn: Dương Văn Nam</p>
                                <p><i class="material-icons tiny">call</i> 0745273645 - namlanhdao@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col s12 m12 l12">
            <h6>Thành viên</h6>
        </div>
        <div class="col s12 m6 l3">
            <div class="card player-card">
                <div class="blue-header">
                    <h6>Atletico Madrid</h6>
                </div>
                <div class="card-content center">
                    <img onerror="this.onerror=null; this.src='/images/no-image.jpeg';" src="~/images//avt.jpg"
                        class="player-logo" alt="Atletico Madrid">
                    <div>
                        <label>⚽ 2 bàn thắng</label>
                        <label>🥅 2 phản lưới</label>
                    </div>
                    <div>
                        <span class="player-badge deep-orange darken-4 ">Thẻ đỏ: 2</span>
                        <span class="player-badge amber">Thẻ vàng: 1</span>
                        <span class="player-badge grey darken-1">Treo giò: 2 trận</span>
                    </div>
                </div>
                <div class="card-action center">
                    <a class="btn waves-effect blue darken-3">CHI TIẾT</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="card player-card">
                <div class="blue-header">
                    <h6>Atletico Madrid</h6>
                </div>
                <div class="card-content center">
                    <img onerror="this.onerror=null; this.src='/images/no-image.jpeg';" src="~/images//avt.jpg"
                        class="player-logo" alt="Atletico Madrid">
                    <div>
                        <label>⚽ 2 bàn thắng</label>
                        <label>🥅 2 phản lưới</label>
                    </div>
                    <div>
                        <span class="player-badge deep-orange darken-4 ">Thẻ đỏ: 2</span>
                        <span class="player-badge amber">Thẻ vàng: 1</span>
                        <span class="player-badge grey darken-1">Treo giò: 2 trận</span>
                    </div>
                </div>
                <div class="card-action center">
                    <a class="btn waves-effect blue darken-3">CHI TIẾT</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="card player-card">
                <div class="blue-header">
                    <h6>Atletico Madrid</h6>
                </div>
                <div class="card-content center">
                    <img onerror="this.onerror=null; this.src='/images/no-image.jpeg';" src="~/imagess//avt.jpg"
                        class="player-logo" alt="Atletico Madrid">
                    <div>
                        <label>⚽ 2 bàn thắng</label>
                        <label>🥅 2 phản lưới</label>
                    </div>
                    <div>
                        <span class="player-badge deep-orange darken-4 ">Thẻ đỏ: 2</span>
                        <span class="player-badge amber">Thẻ vàng: 1</span>
                        <span class="player-badge grey darken-1">Treo giò: 2 trận</span>
                    </div>
                </div>
                <div class="card-action center">
                    <a class="waves-effect waves-light btn">button</a>
                    <a class="btn waves-effect blue darken-3 waves-light">CHI TIẾT</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const { createApp, ref, onMounted } = Vue;
    const app = createApp({
        setup() {
            onMounted(() => {
            });
            return { };
        }
    });
    app.mount('#doi_chiTietDoi');
</script>