<div id = "xepHang_index" class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a href="#tabBXHDoi">CLUB</a></li>
            <li class="tab col s3"><a href="#tabBXHCaNhan">CÁ NHÂN</a></li>
        </ul>
    </div>
    <div id="tabBXHDoi">
        <div class="row">
            <div class="col s12 l12">
                <table class="highlight striped mt-3 centered">
                    <thead>
                        <tr class="table-header white-text">
                            <th class="center-align"></th>
                            <th class="center-align">Đội thi đấu</th>
                            <th class="center-align">Số trận</th>
                            <th class="center-align">T-H-B</th>
                            <th class="center-align">Hiệu số</th>
                            <th class="center-align">🟨/🟥</th>
                            <th class="center-align">Điểm</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class=""><img onerror="this.onerror=null; this.src='/images/no-image.jpeg';" class="logo-top" src="~/images/1.png" /></td>
                            <td class="">
                                <div class="d-flex justify-content-center align-items-center">
                                    <img onerror="this.onerror=null; this.src='/images/no-image.jpeg';" class="avatar mobile-avatar" src="~/images/MU.png" />
                                    <p class="mobile-text">FC Minh Sơn</p>
                                </div>
                            </td>
                            <td>
                                <p>03</p>
                            </td>
                            <td>
                                <p>2-1-0</p>
                            </td>
                            <td>
                                <p>6/4 (+2)</p>
                            </td>
                            <td>
                                <p>5/1</p>
                            </td>
                            <td>
                                <p>7</p>
                            </td>
                        </tr>
                        <tr>
                            <td class=""><img onerror="this.onerror=null; this.src='/images/no-image.jpeg';" class="logo-top" src="~/images/2.png" /></td>
                            <td class="">
                                <div class="d-flex justify-content-center align-items-center">
                                    <img onerror="this.onerror=null; this.src='/images/no-image.jpeg';" class="avatar mobile-avatar" src="~/images/MU.png" />
                                    <p class="mobile-text">FC Minh Sơn</p>
                                </div>
                            </td>
                            <td>
                                <p>03</p>
                            </td>
                            <td>
                                <p>1-1-1</p>
                            </td>
                            <td>
                                <p>6/6 (+0)</p>
                            </td>
                            <td>
                                <p>5/1</p>
                            </td>
                            <td>
                                <p>4</p>
                            </td>
                        </tr>
                        <tr>
                            <td class=""><img onerror="this.onerror=null; this.src='/images/no-image.jpeg';" class="logo-top" src="~/images/3.png" /></td>
                            <td class="">
                                <div class="d-flex justify-content-center align-items-center">
                                    <img onerror="this.onerror=null; this.src='/images/no-image.jpeg';" class="avatar mobile-avatar" src="~/images/MU.png" />
                                    <p class="mobile-text">FC Minh Sơn</p>
                                </div>
                            </td>
                            <td>
                                <p>03</p>
                            </td>
                            <td>
                                <p>1-0-2</p>
                            </td>
                            <td>
                                <p>4/7 (-3)</p>
                            </td>
                            <td>
                                <p>5/1</p>
                            </td>
                            <td>
                                <p>3</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="tabBXHCaNhan">
        <div class="row">
            <div class="col s12 l12">
                <table class="highlight striped mt-3 centered">
                    <thead>
                        <tr class="table-header white-text">
                            <th class="center-align"></th>
                            <th class="center-align">Vận động viên</th>
                            <th class="center-align">Số áo</th>
                            <th class="center-align">Đội</th>
                            <th class="center-align">Số bàn ghi được</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class=""><img onerror="this.onerror=null; this.src='/images/no-image.jpeg';" class="logo-top" src="~/images/1.png" /></td>
                            <td class="">
                                <div class="d-flex justify-content-center align-items-center">
                                    <img onerror="this.onerror=null; this.src='/images/no-image.jpeg';" class="avatar mobile-avatar" src="~/images/avt.jpg" />
                                    <p class="mobile-text">Dương Văn Nam</p>
                                </div>

                            </td>
                            <td>
                                <p>09</p>
                            </td>
                            <td>
                                <div class="d-flex justify-content-center align-items-center">
                                    <img onerror="this.onerror=null; this.src='/images/no-image.jpeg';" class="avatar mobile-avatar" src="~/images/MU.png" />
                                    <p class="mobile-text">FC Minh Sơn</p>
                                </div>
                            </td>
                            <td>
                                <p>6</p>
                            </td>
                        </tr>
                        <tr>
                            <td class=""><img onerror="this.onerror=null; this.src='/images/no-image.jpeg';" class="logo-top" src="~/images/2.png" /></td>
                            <td class="">
                                <div class="d-flex justify-content-center align-items-center">
                                    <img onerror="this.onerror=null; this.src='/images/no-image.jpeg';" class="avatar mobile-avatar" src="~/images/avt.jpg" />
                                    <p class="mobile-text">Dương Văn Nam</p>
                                </div>

                            </td>
                            <td>
                                <p>09</p>
                            </td>
                            <td>
                                <div class="d-flex justify-content-center align-items-center">
                                    <img onerror="this.onerror=null; this.src='/images/no-image.jpeg';" class="avatar mobile-avatar" src="~/images/MU.png" />
                                    <p class="mobile-text">FC Minh Sơn</p>
                                </div>
                            </td>
                            <td>
                                <p>6</p>
                            </td>
                        </tr>
                        <tr>
                            <td class=""><img onerror="this.onerror=null; this.src='/images/no-image.jpeg';" class="logo-top" src="~/images/3.png" /></td>
                            <td class="">
                                <div class="d-flex justify-content-center align-items-center">
                                    <img onerror="this.onerror=null; this.src='/images/no-image.jpeg';" class="avatar mobile-avatar" src="~/images/avt.jpg" />
                                    <p class="mobile-text">Dương Văn Nam</p>
                                </div>

                            </td>
                            <td>
                                <p>09</p>
                            </td>
                            <td>
                                <div class="d-flex justify-content-center align-items-center">
                                    <img onerror="this.onerror=null; this.src='/images/no-image.jpeg';" class="avatar mobile-avatar" src="~/images/MU.png" />
                                    <p class="mobile-text">FC Minh Sơn</p>
                                </div>
                            </td>
                            <td>
                                <p>6</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
    const { createApp, ref, onMounted } = Vue;
    const app = createApp({
        setup() {
            onMounted(() => {
                const tabsEl = document.querySelector('.tabs');
                const instanceTab = M.Tabs.init(tabsEl);
                const tabActive = `@ViewBag.tabActive`;
                if(tabActive == "2"){
                    instanceTab.select('tabBXHCaNhan');
                }
                else{
                    instanceTab.select('tabBXHDoi');
                }
            });
            return { };
        }
    });
    app.mount('#xepHang_index');
</script>